	<% if (currentUser){ %>
	<div class="navbar nav-fil m-4 ">
		<a class="btn btn-secondary ml-2 mt-2" href="/logout"> Logout </a>
		<a class="btn btn-dark ml-2 mt-2" href="/dashboard"> Go to dashboard </a>
	</div>
	<% } %>

	<a class="btn btn-light mt-5 mx-5" href="/"> Home </a><br>
	<p class="float-right mr-2">
		<hr>
		@by_ADARSH 
	</p>
	
</body>
</html>