<%- include("partials/header") %>


<div class="container">
	<div class="container border border-primary rounded px-1 mt-3" style="background-color: rgba(255,255,220,.8)">
		<h1> Gautams Builder <br> <em id="and"> & </em> </br> <b>Vaishnavi</b> <img id="logo" src="logos/logo.png">ons. </h1>
		<p id="tag"> ( WE MAKE YOUR DREAMS HOME ) </p>
	</div>
</div>

<div class="container mt-3 text-light px-3 py-4 border border-primary rounded" style="background-color: rgba(100,125,140,.4)" >	<div>
		<p><strong> Head Office: </strong></p>
		<p> Distt-Satna, M.P, India </p>
	</div>
	<hr>
	<div>
		<p><strong> Members in our Team: </strong></p>
		<p> 14 </p>
	</div>
	<hr>
	<div>
		<p><strong> Availability: </strong></p>
		<p> 24hrs </p>
	</div>
	<hr>
	<div>
		<p><strong> Why should You chose us  ? </strong></p>
		<p> Since, we are exactly in central India From we can reach any part of the country quickly and at a low cost.So, we can provide you fast service at a favourable cost </p>
	</div>
	<hr>
	<div>
		<table>
			<tr>
				<td class="tb"> My Profile </td>
				<td> -</td>
				<td> <img id="tabp" src="logos/dp.jpg"> </td>
			</tr>
			<tr>
				<td class="tb"> My Exp.</td>
				<td> -</td>
				<td> <img id="tabe" src="logos/Experience.jpg"> </td>
			</tr>
		</table>
	</div>
</div>

<%- include("partials/footer") %>