<%- include("partials/header") %>

<div class="container">

	<div class="container border border-primary rounded px-1 mt-3" style="background-color: rgba(255,255,220,.8)">
		<h1> Gautams Builder <br> <em id="and"> & </em> </br> <b>Vaishnavi</b> <img id="logo" src="logos/logo.png">ons. </h1>
		<p id="tag"> ( WE MAKE YOUR DREAMS HOME ) </p>
	</div>
</div>

<div class="navbar nav-fill">
	<a class="btn btn-info" href="/rparty"> Running Parties </a> 
	<a class="btn btn-primary" href="/bookings"> Bookings </a>
	<a class="btn btn-warning" href="/edetails"> Employee's details </a> 
</div>

<div class="home container container-fluid my-3 rounded border border-primary" style="height: 600px; width: 100%"> </div>

<div class="float-right m-4">
	<a class="btn btn-danger" href="/cadmin"> Add co-Admin </a> <br>
</div>
<%- include("partials/footer") %>