<%- include("partials/header") %>

<link rel="stylesheet" type="text/css" href="/app.css">

<div class="container">
	<div class="rounded navbar nav-fil" style="background-color: rgba(20,30,40,.5)">
		<a href="/login" class="btn btn-primary"> Login</a>
		<a href="/about" class="btn btn-secondary"> Detail</a> </br>
		<hr>
		<a href="/contact" class="btn btn-info"> contact</a>
		<a href="/book" class="btn btn-success"> Contract</a> 
	</div>

	<div class="container border border-primary rounded px-1 mt-3" style="background-color: rgba(255,255,220,.8)">
		<h1> Gautams Builder <br> <em id="and"> & </em> </br> <b>Vaishnavi</b> <img id="logo" src="logos/logo.png">ons. </h1>
		<p id="tag"> ( WE MAKE YOUR DREAMS HOME ) </p>
	</div>
</div>

<div class="home container container-fluid my-3 rounded border border-primary" style="height: 400px; width: 100%">
	
</div>

<%- include("partials/footer") %>